/**
 *     二手模板样式
 * @author 紫英(橘子)<daxingplay@gmail.com>
 */
.grid {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}
button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.grid .g-u {
    display: inline-block;
    zoom: 1;
    *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    _vertical-align: text-bottom;
}

.grid .g-u input {
    *vertical-align: middle;
}
.ershouUploader-button,
.advance-queue .progress-bar {
    background: transparent url("http://img02.taobaocdn.com/tps/i2/T1FsaDXalQXXXXXXXX-280-535.png") no-repeat -9999px -9999px;
}

.tb-pic120 {
    *overflow: hidden;
    display: table;
    text-align: center;
    table-layout: fixed;
}
.tb-pic120 a {
    display: table-cell; /*非IE、IE8、IE9的主流浏览器识别的垂直居中的方法*/
    vertical-align: middle;
    /*text-align: center;*/
    *display: block;
    *font-family: Arial; /*防止非utf-8引起的hack失效问题，如gbk编码*/
    *line-height: 1; /* 避免行高导致垂直居中有误 */
}
.tb-pic120 a { *font-size: 105px; }
.tb-pic120 a img {
    vertical-align: middle;
}

.tb-pic120, .tb-pic120 a { width: 120px; height: 120px; }

.tb-pic120 img { max-width: 120px; max-height: 120px; _width: 120px; }

.ershouUploader-button {
    display: block;
    float: left;
    width: 74px;
    height: 25px;
    margin-right: 6px;
    background-position: 0 -40px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
}
.ershouUploader-button:hover {
    background-position: -80px -40px;
}
.upload-tips{
    margin-top: 5px;
}
.uploader-button-disabled:hover {
    background-position: 0 -40px;
}
.uploader-button-disabled input {
    display: none;
}
.file-input-wrapper {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    text-indent: 0;
    width: 74px;
    height: 25px;
    filter:alpha(opacity=0);
}
.file-input-wrapper .file-input {
/*  float: left;*/
    cursor: pointer;
    margin-left: -130px;
    margin-left: 0\9;
    height: 25px;
    display: block\9;
    width: 74px\9;
    *margin-left: -5px;
}

/*上传队列区域*/
.upload-queue {
    /*clear: both;
    margin-top: 24px;*/
    clear: both;
}
.upload-queue .ershouUploader-queue {
    width: 100%;
}
.ershouUploader-queue {
    overflow: hidden;
    /*padding-top: 24px;*/
    width: 100%;
}
.ershouUploader-queue li {
    float: left;
    width: 118px;
    height: 118px;
    border: 1px solid #c3c3c3;
    position: relative;
    margin: 24px 33px 0 0;
    overflow: hidden;
    *z-index: 1;
}
.ershouUploader-queue li .wrapper {
    border: 1px solid #fff;
    height: 116px;
    width: 116px;
    overflow: hidden;
}
.ershouUploader-queue li .tb-pic {
    width: 116px;
    height: 116px;
    overflow: hidden;
    _zoom: 1;
}
.ershouUploader-queue li .tb-pic a {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    *display: block;
    *font-family: Arial;
    *line-height: 1;
    *font-size: 101px;
    width: 116px;
    height: 116px;
}
.ershouUploader-queue li .tb-pic img {
    max-width: 116px;
    max-height: 116px;
    vertical-align: middle;
    _width: 116px;
}
.upload-operations,
.upload-op-mask {
    display: none;
}
/*上传消息提示*/
.tips-uploading,
.tips-upload-error,
.tips-upload-success,
.tips-upload-waiting {
    display: none;
    position: absolute;
    width: 118px;
    top: 0;
    left: 0;
    z-index: 9;
}
.tips-upload-error {
    padding: 38px 0 0 30px;
    width: 88px;
    line-height: 24px;
    color: #f00;
}
.tips-upload-waiting,
.tips-upload-success {
    line-height: 118px;
    color: #7a9900;
    text-align: center;
}
.tips-upload-waiting {
    color: #000;
}

/*开始上传*/
.upload-error .pic-mask,
.upload-success .pic-mask,
.uploading .pic-mask,
.upload-waiting .pic-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 118px;
    height: 118px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background: #fff;
    z-index: 7;
}
.uploading .tips-uploading {
    display: block;
    background: transparent url("http://img04.taobaocdn.com/tps/i4/T1yD85Xc8BXXXXXXXX-16-16.gif") no-repeat 8px 50%;
}
.uploading .tips-uploading .tips-text {
    line-height: 117px;
    padding-left: 28px;
    color: #F60;
}
.upload-error .tips-upload-error,
.upload-success .tips-upload-success,
.upload-waiting .tips-upload-waiting {
    display: block;
}
/*进度条*/
.upload-queue .progress-bar {
    display: none;
}
.advance-queue .progress-bar {
    display: block;
    width: 90px;
    margin: 50px auto 0;
    height: 12px;
}
.advance-queue .uploading .progress-bar {
    padding: 1px;
    height: 10px;
    width: 88px;
    background: transparent url("http://img02.taobaocdn.com/tps/i2/T18tOwXgJAXXXXXXXX-90-12.gif") no-repeat 0 0;
}
.advance-queue .tips-upload-error,
.advance-queue .tips-upload-success .tips-text,
.advance-queue .tips-uploading .tips-text {
    line-height: 28px;
    text-align: center;
}
.advance-queue .tips-uploading {
    background: transparent;
}
.advance-queue .tips-uploading .tips-text {
    padding: 0;
}
.advance-queue .progress-bar {
    overflow: hidden;
}
.advance-queue .progress-mask {
    float: right;
    display: block;
    width: 100%;
    height: 10px;
    background: #fff;
}
.advance-queue .upload-error .progress-bar {
    background-position: 0 -355px;
}
.advance-queue .upload-success .progress-bar {
    background-position: -95px -355px;
}
.advance-queue .tips-upload-error {
    padding: 0;
    width: 100%;
}
.advance-queue .tips-upload-error p:last-child {
    padding-left: 8px;
}
.ershouUploader-queue .upload-done:hover,
.ershouUploader-queue .upload-done .tb-hover {
    border-color: #98CD6A;
}
.upload-done:hover .upload-operations,
.upload-done .tb-hover .upload-operations {
    display: block;
    position: absolute;
    height: 25px;
    width: 118px;
    text-align: center;
    z-index: 15;
    left: 0;
    bottom: 0;
}
.upload-queue .upload-operations a {
    color: #404040;
    text-decoration: underline;
    line-height: 24px;
    margin: 0 8px;
}
.upload-operations a:hover {
    color: #fff;
}
.upload-op-mask {
    background: #BDDFA0;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 118px;
    height: 25px;
}
.upload-done:hover .upload-op-mask,
.upload-done .tb-hover .upload-op-mask {
    display: block;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.main-pic .set-as-main {
    display: none;
}
.upload-queue .main-pic,
.upload-queue .main-pic .wrapper {
    border-color: #98CD6A;
}
.main-pic .main-pic-logo {
    position: absolute;
    top: 0;
    left: 0;
    background: #98CD6A;
    color: #fff;
    height: 16px;
    width: 27px;
    padding-left: 2px;
    line-height: 16px;
    z-index: 10;
}