.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.grid .g-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  _vertical-align: text-bottom;
}
.grid .g-u input {
  *vertical-align: middle;
}
.file-input-wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
.file-input-wrapper input {
  display: block;
  height: 500px;
  width: 220px;
  cursor: pointer;
  font-size: 100px;
  margin-top: -50px;
  position: absolute;
  left: 0;
  top: -200px;
  opacity: 0;
  filter: alpha(opacity = 0);
  z-index: 14;
}
.ks-progress-bar {
  height: 8px;
  width: 90px;
  background: #b2b2b2;
  border-radius: 5px;
  display: block;
  overflow: hidden;
}
.ks-progress-bar .ks-progress-bar-value {
  width: 0%;
  height: 8px;
  background: #db0869;
  display: block;
}
.ks-uploader-button {
  text-decoration: none;
}
.ks-uploader-queue .preview-img {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
  width: 300px;
  overflow: hidden;
}
.refundUploader-button {
  width: 120px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  border: 1px solid #c4daed;
  margin-right: 10px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  color: #404040;
  text-align: center;
  background-color: #fdfefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfefe), to(#dfe7ef));
  background: -moz-linear-gradient(top, #fdfefe, #dfe7ef);
}
.refundUploader-button .file-input-wrapper {
  width: 120px;
  height: 25px;
}
.refundUploader-button:hover {
  color: #404040;
  text-decoration: none;
  background-color: #dfe7ef;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfe7ef), to(#fdfefe));
  background: -moz-linear-gradient(top, #dfe7ef, #fdfefe);
}
.refundUploader-button:active {
  background-color: #e2f1fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f1fc), to(#e2f1fc));
  background: -moz-linear-gradient(top, #e2f1fc, #e2f1fc);
  outline: 0 none;
}
.uploader-button-disabled {
  border: 1px solid #BFBFBF;
  color: #404040;
  background-color: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e5e5e5));
  background: -moz-linear-gradient(top, #fafafa, #e5e5e5);
}
.uploader-button-disabled:hover {
  background-color: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e5e5e5));
  background: -moz-linear-gradient(top, #fafafa, #e5e5e5);
}
.upload-count-wrapper {
  margin-top: 4px;
  color: #ccc;
}
.upload-count-wrapper em {
  color: #999999;
  font-style: normal;
}
.refundUploader-queue {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 12px;
}
.refundUploader-queue li {
  border: 1px solid #cccccc;
  margin: 0 10px 10px 0;
  width: 60px;
  height: 60px;
  position: relative;
  background-color: #fff;
}
.refundUploader-queue li.error {
  border-color: #red;
  border: 1px solid #FFBFBF ;
  color: #FF0000;
}
.refundUploader-queue li.error .pic-mask {
  background-color: #fff3f3;
}
.refundUploader-queue li .wrapper {
  position: relative;
  z-index: 10;
}
.refundUploader-queue li .del-pic {
  display: block;
  color: #3366CC;
  width: 60px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
.refundUploader-queue li .del-pic:hover {
  color: #F60;
  text-decoration: underline;
}
.refundUploader-queue .status-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -12px;
  z-index: 30;
  font-size: 12px;
}
.refundUploader-queue .status-wrapper .status {
  width: 58px;
  margin: 0 auto;
  text-align: center;
}
.refundUploader-queue .pic-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  opacity: 0.8;
  background: #fff;
  z-index: 7;
}
.refundUploader-queue .pic {
  *overflow: hidden;
  display: table;
  text-align: center;
  table-layout: fixed;
}
.refundUploader-queue .pic img {
  display: none;
  border: none;
  vertical-align: middle;
  max-width: 60px;
  max-height: 60px;
  margin: 0;
  padding: 0;
}
.refundUploader-queue .pic span {
  width: 60px;
  height: 60px;
  display: table-cell;
  /*非IE、IE8、IE9的主流浏览器识别的垂直居中的方法*/
  vertical-align: middle;
  *display: block;
  *font-family: Arial;
  /*防止非utf-8引起的hack失效问题，如gbk编码*/
  *line-height: 1;
  /* 避免行高导致垂直居中有误 */
}
.refundUploader-queue .drop-wrapper {
  cursor: pointer;
}
.refundUploader-queue .ks-progress-bar {
  height: 8px;
  width: 30px;
  margin: 0 auto;
}
.refundUploader-queue .ks-progress-bar .ks-progress-bar-value {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.refundUploader-queue .ks-progress-bar .status-wrapper .status {
  text-align: center;
}
